
@font-face {
    font-family: "Roboto"; 
    src: url("../fonts/Roboto-Regular.ttf") format("truetype"); 
    src: url("../fonts/Roboto-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
.container{
    border: 1px solid #cccccc;
}
.menubar{
    display: inline-block;
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2.5px;
    margin: 0px 70px;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    
}
.header {
    margin-top: 30px;
    text-align: center;
}
.img{
display: inline-block;
   max-width: 100%;
    
}
.textblock{
    color: #373737;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.5px;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
    width: 80%; 
    font-family: 'Roboto',sans-serif;
}
.title{
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 900;
    letter-spacing: 2.5px;
    margin: 40px 0px 25px; 
}
.mainblock{
    background-color: rgba(235,235,235,0.7);
    padding-bottom: 100px;
    margin-top: 50px;  
}
.button{
    background-color: #16a085;
    color: white;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2.5px;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 18px;
    text-transform: uppercase;
    width:12%;
    display: block;  
    font-family: 'Roboto',sans-serif;
}
.footer{
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2.5px;
    padding: 40px 100px 50px;
    text-align: right;
    font-family: 'Roboto',sans-serif;

}
span{
    text-transform: capitalize;
}
body{
    background-color: red;
}
