html {
    height: 100%;
    overflow: hidden;
}
.container{
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat',sans-serif
}
.wemake-block{
    height: 900px;
    
}
.wechange-block{
    height: 750px;
   
}
.weare-block{
    height: 950px;
   
}
.checkwhat-block{
    height: 865px;
   
}
.paralax{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.white-block{
    height: 380px;
    width: 100%;
    background-color: #fff;
}
.wemake-block::before{
    background-image: url(../img/bg1.jpg);
}
.wechange-block::before{
    background-image: url(../img/bg2.jpg);
}
.weare-block::before{
    background-image: url(../img/bg3.jpg);
}
.checkwhat-block::before{
    background-image: url(../img/bg4.jpg);
}
.paralax::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    transform-origin: center;
    background-size: cover;
    transform:translateZ(-1px) scale(2);
}
.slogan{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    color: #333333;
    padding-top: 100px;
}
.slogan-on-background{
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 350px;
}
.slogan-on-background::after,.about::after{
    content: "";
    height: 2px;
    width: 60px;
    margin: 45px auto;
    background-color: #f1ad1d;
    display: block;
}
.about{
    color:  #4d4943;
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
}
.info-block{
    height: 100vh;
    padding-left: 86px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.first-title{
    color: #ffffff;
    font-size: 40px; 
    font-weight: 700;
    text-transform: uppercase;
}
.second-title{
    color: #ffffff;
    font-size: 18px;
    text-transform: capitalize;
    
}
.wemake-flex{
    width: 700px;
    height: 128px;
    display: flex;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    line-height: 128px;
    text-transform: uppercase;
    border: 1px solid white;
    margin-top: 20px;
    
}
.we{
    width: 150px;
    color: #f1ad1d;
    background-color: #fff;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
}
.make{
    width: 550px;
    background-color:  rgba(0, 0, 0, 0.3);
    color: #fff;
    
}
.weare-flex{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}
.web-link-description{
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.orange{
    color: #f1ad1d;
}
.white-line{
    width: 200px;
    height: 2px;
    background-color: #fff;
    border: none;
    margin-top: 45px;
}