body{
    font-family: 'Montserrat',sans-serif;
}
.fixed{
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}
.wemake-block{
    background-image: url(../img/bg1.jpg);
    height: 900px;
}
.wechange-block{
    background-image: url(../img/bg2.jpg);
    height: 760px;
}
.weare-block{
    height: 950px;
    background-image: url(../img/bg3.jpg);
}
.checkwhat-block{
    height: 865px;
    background-image: url(../img/bg4.jpg);
}
.info-block{
    height: 100vh;
    padding-left: 86px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.first-title{
    color: #ffffff;
    font-size: 40px; 
    font-weight: 700;
    text-transform: uppercase;
}
.second-title{
    color: #ffffff;
    font-size: 18px;
    text-transform: capitalize;
}
.wemake-flex{
    width: 700px;
    height: 128px;
    display: flex;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    line-height: 128px;
    text-transform: uppercase;
    border: 1px solid white;
    margin-top: 20px;
}
.we{
    width: 150px;
    color: #f1ad1d;
    background-color: #fff;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
}
.make{
    width: 550px;
    background-color:  rgba(0, 0, 0, 0.3);
    color: #fff;
}

.white-block{
    height: 380px;
    width: 100%;
    background-color: #fff;
}
.slogan{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    color: #333333;
    padding-top: 100px;
}
.about{
    color:  #4d4943;
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
}
.about::after,.slogan-on-background::after{
    content: "";
    height: 2px;
    width: 60px;
    margin: 45px auto;
    background-color: #f1ad1d;
    display: block;
}
.slogan-on-background{
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 150px;
}
.orange{
    color: #f1ad1d;
}
.weare-flex{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}
.web-link-description{
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.white-line{
    width: 200px;
    height: 2px;
    background-color: #fff;
    border: none;
    margin-top: 45px;
}
