body {
    background: #000;
    overflow: hidden;
  }
  .container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 700px;
    perspective: 250px;
    
  }
  .main {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: main 30s linear;
    animation-iteration-count: infinite;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
  }
  
  .main h1, h2{
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 50px;
  }
  
  @keyframes main {
    0% {
      top: 600px;
      transform: rotateX(30deg)  translateZ(0);
    }
    100% { 
      top: -2200px;
      transform: rotateX(30deg) translateZ(-1100px);
    }
  }