
@font-face {
    font-family: "Arimo"; 
    src: url("../webfontkit-20181104-111128/Arimo-Regular.ttf") format("truetype"); 
    src: url("../webfontkit-20181104-111128/arimo-regular-webfont.eot") format("eot"); 
    src: url("../webfontkit-20181104-111128/arimo-regular-webfont.svg") format("svg"); 
    src: url("../webfontkit-20181104-111128/arimo-regular-webfont.woff") format("woff"); 
    src: url("../webfontkit-20181104-111128/arimo-regular-webfont.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "Arimo"; 
    src: url("../webfontkit-20181104-111128//arimo-bold-webfont.ttf") format("truetype"); 
    src: url("../webfontkit-20181104-111128/arimo-bold-webfont.eot") format("eot"); 
    src: url("../webfontkit-20181104-111128/arimo-bold-webfont.svg") format("svg"); 
    src: url("../webfontkit-20181104-111128/arimo-bold-webfont.woff") format("woff"); 
    src: url("../webfontkit-20181104-111128/arimo-bold-webfont.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: bold;
}

.pricing_table{
    border: 30px solid #3a4965;
    width: 100%;
    height: 736px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-family: "Arimo",sans-serif;
    color:#484848;
    font-size: 16px;
}
.pricing_table td:nth-child(n+2){
    box-shadow: inset 12px 0px 2px -10px rgba(105, 105, 105, 0.2);
}
.pricing_table th:nth-child(n+1){
    box-shadow: inset 12px 0px 2px -10px rgba(105, 105, 105, 0.2);
}
.pricing_table tr:nth-child(odd){
    background-color:#f2f2f2;
}
.pricing_table tr:nth-child(even){
    background-color: #e3e3e3;
}
#another_border{
    box-shadow: inset 12px 0px 2px -10px rgba(0, 0, 0, 0.3);
    background-color: #eeeeee;
}
.dollars{
    font-size: 60px;
    font-weight: 700;
}
.cents{
    font-size: 24px;
    font-weight: 700;
    vertical-align: super;
}
.term{
    font-size: 18px;
    position: relative;
    left: -35px;
}
.title{
    font-size: 18px;
    font-weight: 700;
}
.title_two{
    font-size: 30px;
    font-weight: 700;
}
.standart{
    background-color: #89c331;
}
.ultimate{
    background-color: #f04a56;
    font-size: 30px;
}
.premium{
    background-color: #20807c;
}
.plan_type{
    color:  #fff;
    font-size: 24px;
}
.button{
    border-radius: 5px;
    padding: 12px 43px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-family: "Arimo",sans-serif;
    position: relative;
    z-index: 0;
}
.button::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    height: 0;
    width: 100%;
    z-index: -1;
    transition: 0.5s ease-in-out;
    border-radius: 5px;
}
.button:hover:before{
    bottom: -6px;
    top: auto;
    height: 53px;
}
.grey{
    background-color: #484848;
    border-bottom: 6px solid #404040;
}
.grey:before{
    background:linear-gradient(180deg, #848484, #000000);
}
.green{
    background-color: #89c331;
    border-bottom: 6px solid #78be0e;
}
.green:before{
    background:linear-gradient(180deg, #0dff05, #006405);
}
.pink{
    background-color: #f04a56;
    border-bottom: 6px solid #df3a46;
}
.pink:before{
    background:linear-gradient(180deg, #f800d7, #ff0396);
}
.aqua{
    background-color:  #20807c;
    border-bottom: 6px solid  rgb(22, 115, 111);
}
.aqua:before{
    background:linear-gradient(180deg, #004b38, #03ff9e);
}
.icon{
    color: #848484;
    font-size: 24px;
    position: relative;
    top: 2px;
    left: -10px;
}
.bgcolor_fa{
    background-color: #fafafa;
}
.bgcolor_ddd{
    background-color: #dddddd;
}
.bgcolor_f4{
    background-color: #f4f4f4;
}
.bgcolor_eee{
    background-color: #eeeeee;
}


