@font-face {
    font-family: "Arimo"; 
    src: url("../webfontkit-20181104-111128/Arimo-Regular.ttf") format("truetype"); 
    src: url("../webfontkit-20181104-111128/arimo-regular-webfont.eot") format("eot"); 
    src: url("../webfontkit-20181104-111128/arimo-regular-webfont.svg") format("svg"); 
    src: url("../webfontkit-20181104-111128/arimo-regular-webfont.woff") format("woff"); 
    src: url("../webfontkit-20181104-111128/arimo-regular-webfont.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "Arimo"; 
    src: url("../webfontkit-20181104-111128//arimo-bold-webfont.ttf") format("truetype"); 
    src: url("../webfontkit-20181104-111128/arimo-bold-webfont.eot") format("eot"); 
    src: url("../webfontkit-20181104-111128/arimo-bold-webfont.svg") format("svg"); 
    src: url("../webfontkit-20181104-111128/arimo-bold-webfont.woff") format("woff"); 
    src: url("../webfontkit-20181104-111128/arimo-bold-webfont.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: bold;
}
.pricing_table{
    width: 100%;
    height: 660px;
    border: 30px solid #3a4965;
    text-transform: uppercase;
    text-align: center;
    vertical-align:middle;
    font-family: "Arimo",sans-serif;
    color:  #484848;
    font-size: 16px;
}
.standart{
    background-color: #89c331;
    color:  #fff;
    font-weight: 700;
}
.ultimate{
    background-color: #f04a56;
    color: #fff;
    font-weight: 700;
}
.premium{
    background-color:  #20807c;
    color:#fff;
    font-weight: 700;
}
.pricing_table td:nth-child(2n){
    background-color:#e3e3e3;
}
.pricing_table td:nth-child(n+3):nth-child(odd){
    background-color: #f2f2f2
}
.pricing_table th:nth-child(2n){
    background-color:#e3e3e3;
}
.pricing_table th:nth-child(n+3):nth-child(odd){
    background-color: #f2f2f2;
}
.title{
    font-size: 14px;
    font-weight: 700;
}
.title_two{
    font-size: 20px;
    font-weight: 700;
}
.icon{
    font-size: 24px;
    color: #848484;
    position: relative;
    top: -10px;
    margin-top: 30px;
}
.plan_type{
    font-size: 24px;
}
.menu{
    font-size: 20px;
}
.price{
    font-size: 36px;
    margin-top: 10px;
}
.cents{
    font-size: 18px;
}
.term{
    font-size: 14px;
}
.buy_button{
    border: none;
    background-color: #484848;
    border-bottom: 6px solid #343434;
    padding: 11px 51px;
    font-size: 16px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "Arimo",sans-serif;
    font-weight: 700;
    margin-top: 25px;
    position: relative;
    z-index: 0;
    cursor: pointer;

}
.buy_now{
    color: white;
}
.bgcolor_fa{
    background-color: #fafafa;
}
.pricing_table td{
    box-shadow: inset 0px 4px 2px -2px rgba(105, 105, 105, 0.2);
}
.pricing_table th{
    padding-bottom: 20px;
}
.buy_button::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    height: 0;
    width: 100%;
    z-index: -1;
    background:linear-gradient(180deg, #000000, #848484);
    transition: 0.5s ease-in-out;
    border-radius: 5px;
}
.buy_button:hover:before{
    bottom: -6px;
    top: auto;
    height: 51px;   
}



