@font-face {
    font-family: "Verdana"; 
    src: url("../fonts/Verdana.ttf") format("opentype"); 
    font-style: normal; 
    font-weight: normal; 
}
#btn{
    float: left;
    color: #fff;
    border: none;
    height: 45px;
    border-radius: 5px;
    background-color: #3cb878;
    font-size: 15px;
    text-transform: uppercase;
    margin: 5px 0 19px 365px;
    font-family: "Verdana", sans-serif;
    cursor: pointer;
    outline: none;
    
}
.container{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}
.header{
    background-color:  rgba(0, 0, 0, 0.41);
    height: 54px;
    overflow:hidden;
    font-family: 'Verdana', sans-serif;
}
.journey_logo{
    float: left;
    color:  #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    margin: 19px 81px;
    font-family: "Verdana", sans-serif;
}
.journey_logo:hover{
    color: #3cb878;
    transition: 1s ease-out;
}
.icon_block{
    float: left;
    display: flex;
    justify-content: space-around;
    width: 123px;
    margin: 17px 0 18px 170px;
}
.sprite{
    background-image: url(../img/css_sprites_header.png);
}
.calendar{

    width: 19px;
    height: 19px;
    background-position: -40px -10px;
}
.calendar:hover{
    background-position: -79px -10px;
}
.forum{
    
    width: 28px;
    height: 20px;
    background-position: -243px -10px;
}
.forum:hover{
    background-position: -291px -10px;
}
.compass{
    
    width: 20px;
    height: 20px;
    background-position: -118px -10px;
}
.compass:hover{
    background-position: -158px -10px;
}
.welcome{
    float: left;
    margin: 21px 0 19px 50px;
    color:  #fff;
    font-size: 14px;
    font-family: "Verdana",sans-serif;
    text-transform: capitalize;
}
.green{
    color: #3cb878;
}
.underline:hover{
text-decoration: underline;

}
.no_capital{
    text-transform: none;
}
.sign_up_block{
    position: relative;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
    background-color: #fff;
    border-radius: 10px;
    padding: 29px 60px 32px;
    box-sizing: border-box;
    margin: 65px auto;   
    font-family: 'Verdana', sans-serif;
}
.main_form{
    clear: both;
}
.main{
    height: 714px;
    overflow: auto;
}
.btn{
    width: 157px;
    height: 46px;
    border-radius: 5px;
    margin-top: 15px;

}
.facebook{
    background-color:  #305db8;
    border: none;
    cursor: pointer;
    
    
}
.google{
    background-color:  #df4a32;
    border:none;
    cursor: pointer;
}

.icon_fb{
    float: left;
    width: 10px;
    height: 20px;
    background-position: -10px -10px;
    margin-left: 15px;
}
.icon_google{
    float: left;
    width: 25px;
    height: 16px;
    background-position: -198px -10px;
    margin-left: 10px;
}
.icon_google::after{
    content: '';
    float: left;
    width: 1px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 35px;
    position: relative;
    top: -5px;
}
.icon_fb::after{
    content: '';
    float: left;
    width: 1px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 25px;
    position: relative;
    top: -5px;
}
.btn_text{
    float: left;
    margin-left: 35px;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
}
.sign_up{
    display: inline-block;
    color:  #434343;
    font-size: 19px;
    text-transform: capitalize;
    width: 77px;
}
.log_in{
    display: inline-block;
    color:  #3cb878;
    font-size: 12px;
    text-transform: capitalize;
    margin-left: 200px;
}
.log_in:hover{
    text-decoration: underline;
}
.or{
    margin-top: 33px;
    margin-bottom: 18px;
    float: left;
    color:  #848484;
    font-size: 14px;

}
.or::before{
    float: left;
    margin-top: 8px;
    margin-right: 13px;
    content: '';
    width: 140px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}
.or::after{
    float: right;
    margin-top: 8px;
    margin-left: 13px;
    content: '';
    width: 140px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}
.input{
    font-size: 14px;
    color: #434343;
    width: 322px;
    height: 46px;
    padding-left: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
    cursor: pointer;
}
.input:focus{
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    border: 1px solid lightgray;
    outline: none;
}
.agree{
    float: left;
    text-transform: capitalize;
    color:  #434343;
    font-size: 14px;
    margin-top: 5px;
}
.checkbox {
    display: none;
  }
.label {
    width: 100px; 
    height: 26px; 
    display: inline-block; 
    position: relative; 
   }
.background_container {
    position: absolute; 
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: url(../img/css_sprites-checkbox.png) no-repeat;
    cursor: pointer; 
    background-position: -130px -130px;
    
   }
.checkbox:checked + .background_container{
    background-position: -410px -130px;
   }
.terms{
       margin-top: 3px;
       font-size: 14px;
       display: inline-block;
       margin-left: 35px;
       width: 300px;
       text-transform: capitalize
   }
.create{
    width: 322px;
    height: 46px;
    color:  #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: #3cb878;
    text-transform: capitalize;
    margin-top: 29px;
    border: none;
    cursor: pointer;
   }
.green_square{
       width: 18px;
       height: 18px;
       background-color: #3cb878;
       position: absolute;
       left: 0;
   }

